*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style-type:none;
}

.container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
   
}

.sidebar{
    flex:1;
    display: flex;
    height:100vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color:white
}

.logo{
   text-align: center;
   margin-top:40%;
   margin-bottom: 40%;
}

.info{
    text-align: center;
    margin-bottom:40%
}

.info h4{
    margin-top:15%
}

.info p{
    color:rgb(153, 145, 145);
    padding-top:5px
}

.sidebar ul li {
    padding-bottom:30%;
    padding-left:10px;
    color:rgb(153, 145, 145)
}

i{
    margin-right:10px
}

.sidebar ul li a{
    margin-left:10px;
    color:rgb(153, 145, 145)
}

.siderbar ul li a:hover{
    color:white
}

.image{
    background-image: url('../images/image2.avif');
    background-size:cover;
    background-position:center;
    width:60px;
    height:60px;
    border-radius:40px;
    margin-left: auto;
    margin-right: auto;
}

.down{
    margin-bottom:10%;
    margin-right:20px
}

.dashboard{
    flex:6;
    height:100vh;
}

.dashboard .top-bar{
    max-width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%

}

.input{
    border:1px solid grey;
    max-width:50%;
    padding:10px 0px 10px 10px;
    border-radius:10px
}

.input i{
    padding-left:10px
}

.input input{
    outline:none;
    border:none;
    font-size:13px;
    font-weight:bold
}

.main-section{
    max-width:90%;
    margin-left: auto;
    margin-right:auto;
    border:1px solid black;
    margin-top:20px;
    border-radius:20px
}

.user-info{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center; 
    margin-left: auto;
    margin-right:auto;
    padding-left:20px;
    padding-right:20px
}

.user-info .left{
    padding:20px 0px 20px 5px;

}


.user-info .right{
    display:flex;
    flex-direction:row;
    align-items: center;
    border:1px solid black;
    padding:5px 0px 5px 5px;
    border-radius:20px
}

.user-info .right span{
    border:1px solid grey;
    border-radius:20px;
    padding:4px 5px 3px 15px;
    font-size:13px;
    text-align:center;
    margin-right:10px
}

.right p{
    font-size:13px;
    padding-right:10px
}

.line{
    border:1px solid black
}



